

body {
  background-color: lightblue;
  margin: auto;
  width: 80%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
  color: darkblue;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h4{
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

button{
  color:black;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.white{
  background-color: white;
  margin: auto;
  width: 80%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.responsive {
  width: 55%;
  max-width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center{
  text-align: center;
}


.footer {
  text-align: center;
  font-size: 120%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue
}

.button {
  background-color: blue;
  border: none;
  color: white;
  padding: 1.5% 1.5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  float: center;
}

.button:hover {
  background-color: navy;
}

.lightBlue{
  background-image: url("Background/lightblue.jpg");
 }