body {
background-color: #FF7B08;
}

head{

}

body{
font-size: 16px;
}

h1 {
margin-left: 20px;
font-family: "Verdana";	
}

p{
font-family: "Verdana";
}

h2{
font-family: "Verdana";
margin-left: 140px;
font-size: 24px;

}

ul{
font-family: "Verdana";
}

h3{
font-family: "Verdana";
margin-left: 140px;
font-size: 24px;
}